NODE_ENV=production
PORT=3000
APP_URL=https://brainclash.fr

TWITCH_CLIENT_ID=replace_me
TWITCH_CLIENT_SECRET=replace_me
SESSION_SECRET=replace_me

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=replace_me
DB_PASSWORD=replace_me
DB_NAME=brainclash
DB_CONNECTION_LIMIT=10
